html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-attachment: fixed;
  background-position: center;

  background: linear-gradient(135deg, #202124, #202124);
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Helvetica;
}

#App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

hr.line {
  margin-top: 0em;
  margin-bottom: 0em;
  border-width: 1px;
}

.Toastify {
  font-size: medium;
}

.input {
  background: red;
}
