.description-box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2%;
  margin: 2% 5% 2% 5%;
  color: #343a40;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

.desc-text {
  font-weight: normal;
  font-size: 21px;
  text-align: justify;
}
