.description {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2%;
  margin: 5% 10% 7% 10%;
  color: #343a40;
  font-weight: bold;
  font-size: 20px;
  /* font-family: "Helvetica", monospace; */
  border-radius: 10px;
}
