.error.banner {
  background-color: #dca235;
  text-align: center;
  font-size: medium;
}

.flicker {
  color: #000000;
  margin: 0.25rem auto;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#000000),
      color-stop(0.8, #ffffff)
    )
    no-repeat;
  background: gradient(
      linear,
      left top,
      right top,
      from(#222),
      to(#222),
      color-stop(0.8, #fff)
    )
    no-repeat;
  background-size: 150px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 2s infinite;
}
@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.svg-black {
  color: black;
}

.header {
  font-weight: bolder;
  font-style: italic;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
}

.fab-back {
  border: none;
  padding-top: 1px;
  background-color: #303134;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: x-large;
  top: 10%;
  left: 1%;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.fab-back:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 5px 5px;
  z-index: 100;
}

.search-box {
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 50%;
  margin: 2% auto 2% auto;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 80%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
