.error.banner {
  background-color: #dca235;
  text-align: center;
  font-size: medium;
}

.flicker {
  color: #000000;
  margin: 0.25rem auto;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ffffff),
      to(#000000),
      color-stop(0.8, #ffffff)
    )
    no-repeat;
  background: gradient(
      linear,
      left top,
      right top,
      from(#222),
      to(#222),
      color-stop(0.8, #fff)
    )
    no-repeat;
  background-size: 150px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 2s infinite;
}
@keyframes flick {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.header {
  font-weight: bolder;
  font-style: italic;
  font-family: Cambria;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
