.details-box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5%;
  margin: 0% 2% 0% 2%;
  color: #292b2c;
  font-weight: normal;
  font-size: large;
  border-radius: 5px;
  text-align: center;
}

.subtitle {
  padding: 0% 0% 0.5% 0%;
  font-size: x-large;
}

.detail {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0.5%;
  padding: 0% 0.5% 0.5% 0.5%;
  transition: all 0.2s ease-in-out;
}

.detail:hover {
  box-shadow: #0077ff 0px 0px 4px 0px, #01f5ff 0px 0px 12px 0px;
}

.inner-detail {
  text-align: center;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5%;
}

.log-box {
  max-height: 150px;
  overflow-y: scroll;
}

.fab-transfer {
  border: none;
  padding-top: 1px;
  background-color: #303134;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: x-large;
  top: 10%;
  right: 1%;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.fab-transfer:hover {
  box-shadow: #0077ff 0px 0px 4px 0px, #01f5ff 0px 0px 12px 0px;
  z-index: 100;
}

.log-card {
  padding: 0.5%;
  border-radius: 5px;
}
