.products-box {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1%;
  margin: 2% 4% 2% 4%;
  color: #292b2c;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  text-align: center;
}

.products-card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-products-box {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2% 2% 1% 2%;
  margin: 2% 25% 2% 25%;
  color: #292b2c;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  text-align: center;
}
