.details-box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5%;
  margin: 0% 2% 0% 2%;
  color: #292b2c;
  font-weight: normal;
  font-size: large;
  border-radius: 10px;
  text-align: center;
}

.subtitle {
  padding: 0% 0% 0.5% 0%;
  font-size: x-large;
}

.detail {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0.5%;
  padding: 0% 0.5% 0.5% 0.5%;
}

.ownership-detail {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0.5%;
  padding: 0% 0.5% 0.5% 0.5%;
  transition: all 0.2s ease-in-out;
}

.ownership-detail:hover {
  scale: 1.1 1.25;
}

.inner-detail {
  text-align: center;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5%;
}

.log-box {
  max-height: 150px;
  overflow-y: scroll;
}

.GR {
  background-color: #8039f1af;
}

.GW {
  background-color: rgba(238, 255, 0, 0.6);
}

.F {
  background-color: rgba(255, 100, 100, 0.6);
}

.tmp {
  justify-content: center;
  display: flex;
  border: none;
  background-color: #a3b9ff;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  margin: 0.75%;
  position: absolute;
}

.fab-transfer {
  border: none;
  padding-top: 1px;
  background-color: #303134;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: x-large;
  top: 10%;
  right: 1%;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.fab-transfer:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 5px 5px;
  z-index: 100;
}

.log-card {
  padding: 0.5%;
  border-radius: 5px;
}
