.product-card {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1%;
  margin: 0.5%;
  width: 24%;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  border: none;
}

.product-card:hover {
  box-shadow: #0077ff 0px 0px 4px 0px, #01f5ff 0px 0px 12px 0px;
  z-index: 100;
}

.product-card-header {
  font-size: x-large;
  padding-bottom: 1.5%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-type {
  padding-top: 1.5%;
  font-size: large;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-desc {
  padding-bottom: 1.5%;
  font-size: medium;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-footer {
  font-size: large;
  white-space: nowrap;
  padding-top: 1.5%;
  overflow: hidden;
  text-overflow: ellipsis;
}
