.details-box {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5%;
  margin: 0% 2% 0% 2%;
  color: #292b2c;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  text-align: center;
}

.subtitle {
  padding: 0% 0% 0.5% 0%;
  font-size: x-large;
}

.detail {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0.5%;
  padding: 0% 0.5% 0.5% 0.5%;
}

.inner-detail {
  text-align: center;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5%;
}

.log-box {
  max-height: 150px;
  overflow-y: scroll;
}

.GR {
  background-color: rgba(120, 255, 120, 0.6);
}

.GW {
  background-color: rgba(238, 255, 0, 0.6);
}

.F {
  background-color: rgba(255, 100, 100, 0.6);
}

.fab-transfer {
  border-color: #00000000;
  padding-top: 1px;
  background-color: rgb(179, 212, 255);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  position: absolute;
  bottom: 50px;
  left: 10px;
}
