.details-box {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1%;
  margin: 0% 5% 2% 5%;
  color: #343a40;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}
