.signup-input-box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1%;
  margin: 2.5% 10% auto 10%;
  color: #343a40;
  font-size: 20px;
  border-radius: 10px;
}

.input-form-user {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
  margin: 2% auto 1% auto;
  width: 50%;
  border-radius: 5px;
}

.input-form-company {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
  margin: 0.75%;
  color: #343a40;
  border-radius: 5px;
}

.label {
  font-size: medium;
  margin-left: 1%;
}

.checkbox {
  text-align: center;
  margin: 1%;
}
